index.jade
<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="css/style.css")
        title Block3
    body
        div(class="header")
                span(class="header__content") header
        
        div(class="content")

            div(class="block-box")
                div(class="container-big-box")
                    div(class="big-box") 
                        span(class="big-box_text") Гений непредвзято понимает под собой конфликт. Закон внешнего мира, очевидно, реально подчеркивает аксиоматичный здравый смысл. Культ джайнизма включает в себя поклонение Махавире и другим тиртханкарам, поэтому закон исключённого третьего индуцирует изоморфный ротор.
                div(class="container-small-box")
                    div(class="small-box")
                        span(class="small-box_text") Чувство однократно
                    div(class="small-box-bottom")
                        span(class="small-box_text") Морено
            
            div(class="wrap")
                div(class="promot")
                    div(class="promot__elem")
                        span(class="small-box_text") Наши сотрудники
                    div(class="promot__elem")
                        span(class="small-box_text") Просветляет понимающий тест
                    div(class="promot__elem")
                        span(class="small-box_text") Конформизм
                div(class="direction")
                    div(class="direction__elem")
                        span(class="small-box_text") Интроекция
                    div(class="direction__elem")
                        span(class="small-box_text") Наши сотрудники

            div(class="block-box block-box_botttom")
                div(class="container-big-box")
                    div(class="big-box big-box_botttom")
                        span(class="big-box_text_botttom")
                            div(class="cell1")
                                div(class="row") Фамилия
                                div(class="row_border")
                                div(class="row") Мамай
                            div(class="cell3")
                                div(class="row_text") Имя и отчество
                                div(class="row_border")
                                div(class="row_end") 
                                    | Станиславаленина
                                    br                                
                                    | Владимировна
                            div(class="cell3")
                                div(class="row") 
                                    | Номер полиса выдан заведомо
                                    br 
                                    | ложный 
                                div(class="row_border")
                                div(class="row_text") 01354879
                            div(class="cell1")
                                div(class="row") Дата рождения
                                div(class="row_border")
                                div(class="row") 01.12.1976
                            div(class="cell1")
                                div(class="row") Телефон
                                div(class="row_border")
                                div(class="row") +79254218069
                div(class="container-small-box")
                    div(class="small-box small-box_top")
                        span(class="small-box_text") Понятие модернизации понимает механизм власти
                    div(class="box-hover")
                        svg(class="box-hover__filter")
                            filter(id="blur")
                                fegaussianblur(stddeviation='5')
                            image(xlink:href="C:/Users/user/Downloads/Test/newfile1/img/image.jpg", width="100%", height="100%", filter="url(#blur)")
                        div(class="box-hover__circle") !
                    div(class="small-box-bottom small-box_botttom")
                        span(class="small-box_text") Наши сотрудники

            div(class="wrap wrap_bottom")
                div(class="direction")
                    div(class="direction__elem direction__elem_bottom")
                        span(class="small-box_text") Лидерство
                    div(class="direction__elem direction__elem_bottom")
                        span(class="small-box_text") Невероятный гений
                div(class="promot")
                    div(class="promot__elem promot__elem_bottom")
                        span(class="small-box_text") Однако
                    div(class="promot__elem promot__elem_bottom")
                        span(class="small-box_text") Точка перегиба
                    div(class="promot__elem promot__elem_bottom")
                        span(class="small-box_text") Длина вектора
                
            //- div(class="form")
                div(class="main form__main") 
                    div(class="main__item")
                        div(class="elem__font") Лидерство
                    div(class="main__item main__item--color")
                        div(class="elem__font") Невероятный гений
                div(class="column form__column")
                    div(class="column__item")
                        div(class="item")
                            div(class="elem__font") Однако
                    div(class="layout column__item")
                        div(class="layout__elem")
                            div(class="elem__font") Точка перегиба
                        div(class="layout__elem layout__elem--color")
                            div(class="elem__font") 
                
        div(class="footer")
            span(class="footer__content") footer
        

index.html
<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8"/><meta name="viewport" content="width=device-width, initial-scale=1.0"/><meta http-equiv="X-UA-Compatible" content="ie=edge"/><link rel="stylesheet" href="css/style.css"/><title>Block3</title></head><body><div class="header"><span class="header__content">header</span></div><div class="content"><div class="block-box"><div class="container-big-box"><div class="big-box"> <span class="big-box_text">Гений непредвзято понимает под собой конфликт. Закон внешнего мира, очевидно, реально подчеркивает аксиоматичный здравый смысл. Культ джайнизма включает в себя поклонение Махавире и другим тиртханкарам, поэтому закон исключённого третьего индуцирует изоморфный ротор.</span></div></div><div class="container-small-box"><div class="small-box"><span class="small-box_text">Чувство однократно</span></div><div class="small-box-bottom"><span class="small-box_text">Морено</span></div></div></div><div class="wrap"><div class="promot"><div class="promot__elem"><span class="small-box_text">Наши сотрудники</span></div><div class="promot__elem"><span class="small-box_text">Просветляет понимающий тест</span></div><div class="promot__elem"><span class="small-box_text">Конформизм</span></div></div><div class="direction"><div class="direction__elem"><span class="small-box_text">Интроекция</span></div><div class="direction__elem"><span class="small-box_text">Наши сотрудники</span></div></div></div><div class="block-box block-box_botttom"><div class="container-big-box"><div class="big-box big-box_botttom"><span class="big-box_text_botttom"><div class="cell1"><div class="row">Фамилия</div><div class="row_border"></div><div class="row">Мамай</div></div><div class="cell3"><div class="row_text">Имя и отчество</div><div class="row_border"></div><div class="row_end"> Станиславаленина<br/>Владимировна</div></div><div class="cell3"><div class="row"> Номер полиса выдан заведомо<br/>ложный </div><div class="row_border"></div><div class="row_text">01354879</div></div><div class="cell1"><div class="row">Дата рождения</div><div class="row_border"></div><div class="row">01.12.1976</div></div><div class="cell1"><div class="row">Телефон</div><div class="row_border"></div><div class="row">+79254218069</div></div></span></div></div><div class="container-small-box"><div class="small-box small-box_top"><span class="small-box_text">Понятие модернизации понимает механизм власти</span></div><div class="box-hover"><svg class="box-hover__filter"><filter id="blur"><fegaussianblur stddeviation="5"></fegaussianblur></filter><image xlink:href="C:/Users/user/Downloads/Test/newfile1/img/image.jpg" width="100%" height="100%" filter="url(#blur)"></image></svg><div class="box-hover__circle">!</div></div><div class="small-box-bottom small-box_botttom"><span class="small-box_text">Наши сотрудники</span></div></div></div><div class="wrap wrap_bottom"><div class="direction"><div class="direction__elem direction__elem_bottom"><span class="small-box_text">Лидерство</span></div><div class="direction__elem direction__elem_bottom"><span class="small-box_text">Невероятный гений</span></div></div><div class="promot"><div class="promot__elem promot__elem_bottom"><span class="small-box_text">Однако</span></div><div class="promot__elem promot__elem_bottom"><span class="small-box_text">Точка перегиба</span></div><div class="promot__elem promot__elem_bottom"><span class="small-box_text">Длина вектора</span></div></div></div></div><div class="footer"><span class="footer__content">footer</span></div></body></html>
